{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Watt</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
</head>
<body>

<div id="navbar">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <a id="logo"><img src="{% static 'imgs/Logo.png' %}" width="200vh"></a>
    <div id="menu">
        <a href="#">Início</a>
        <a href="#empresa">Empresa</a>
        <a href="#">Serviços</a>
        <a href="#parceiros">Parceiros</a>
        <a href="#">Contato</a>
        <a href="#">Blog</a>
    </div>
    <i class="fa fa-bars transparente" aria-hidden="true"></i>
</div>

<div class="carrosselInicial">

      <div class="slides fade">
        <img class="carrosselImg" src="{% static 'imgs/watt1.jpeg' %}">
        <div class="carrosselTexto">WATT Consultoria</div>
        <button class="carrosselBtn">Marcar consultoria</button>
      </div>

      <div class="slides fade">
        <img class="carrosselImg" src="{% static 'imgs/watt1.jpeg' %}">
        <div class="carrosselTexto">WATT Consultoria</div>
        <button class="carrosselBtn">Marcar consultoria</button>
      </div>

      <div class="slides fade">
        <img class="carrosselImg" src="{% static 'imgs/watt1.jpeg' %}">
        <div class="carrosselTexto">WATT Consultoria</div>
        <button class="carrosselBtn">Marcar consultoria</button>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="dots">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>

</div>

<div id="empresa">
    <h1>EMPRESA</h1>
    <div id="inst">
        <div id="emptxt">
        <p>A Watt Consultoria é uma empresa júnior formada por alunos
            dos cursos de Engenharia Elétrica e Engenharia de Controle e
            Automação da UFPE. Foi fundada em 2015 com o intuito de
            incentivar a capacidade empreendedora dos membros, dando
            a eles uma postura profissional ainda dentro da Universidade,
            fazendo com que a Watt Consultoria represente um ambiente
            real de empresa, em contínua melhoria, que proporcione o
            preparo necessário para o mercado de trabalho.</p>
        <p>A empresa júnior possibilita aos seus membros desenvolvimento
            pessoal, profissional e acadêmico, na medida em que permite a
            aplicação de conhecimentos teóricos relativos à formação
            profissional dos seus integrantes, os preparando para o mercado,
            promovendo trabalho em equipe, desenvolvimento econômico e
            social da comunidade através de suas atividades.</p>
    </div>

        <img src="{% static 'imgs/equipe.jpg' %}" width="400vw" height="300vw">
    </div>

    <div id="mvvp">
        <div class="mvv">
        <i class="fa fa-flag" aria-hidden="true"></i>
        <h2>MISSÃO</h2>
        <p>Levar aos clientes soluções em
            engenharias elétrica e controle e
            automação com qualidade e contribuir para
            formação de profissionais diferenciados
            capazes de trazer valor à sociedade.</p>
    </div>
        <div class="mvv">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h2>VISÃO</h2>
            <p>Alcançar o Cluster 2, desenvolvendo e
                capacitando membros para mais e
                melhores projetos.</p>
        </div>
        <div class="mvv">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <h2>VALORES</h2>
            <p>Orgulho, Ética, Comprometimento,
                Atitude de dono, Aprender e ensinar,
                Transparência, Postura empreendedora.</p>
        </div>
    </div>

</div>
<!-- Membros -->
<div class="membros">
    <h1>MEMBROS</h1>
    <div class="mbr fade" id="pg1">
        <a href="#pg7"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src=   "{% static 'imgs/alef.png' %}">
            <img src="{% static 'imgs/amanda.png' %}">
            <img src="{% static 'imgs/caio.png' %}">
            <img src="{% static 'imgs/emanuel.png' %}">
            <img src="{% static 'imgs/erwin.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">Alef</p>
            <p class="nomess">Amanda</p>
            <p class="nomess">Caio</p>
            <p class="nomess">Emanuel</p>
            <p class="nomess">Erwin</p>
        </div>
        <a href="#pg2"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mbr fade" id="pg2">
        <a href="#pg1"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src="{% static 'imgs/fernando.png' %}">
            <img src="{% static 'imgs/gabriel.png' %}">
            <img src="{% static 'imgs/gustavo.png' %}">
            <img src="{% static 'imgs/jefferson.png' %}">
            <img src="{% static 'imgs/joão.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">Fernando</p>
            <p class="nomess">Gabriel</p>
            <p class="nomess">Gustavo</p>
            <p class="nomess">Jefferson</p>
            <p class="nomess">João</p>
        </div>
        <a href="#pg3"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mbr fade" id="pg3">
        <a href="#pg2"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src="{% static 'imgs/john.png' %}">
            <img src="{% static 'imgs/jose.png' %}">
            <img src="{% static 'imgs/levy.png' %}">
            <img src="{% static 'imgs/louise.png' %}">
            <img src="{% static 'imgs/lucas.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">John</p>
            <p class="nomess">José</p>
            <p class="nomess">Levy</p>
            <p class="nomess">Louise</p>
            <p class="nomess">Lucas</p>
        </div>
        <a href="#pg4"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mbr fade" id="pg4">
        <a href="#pg3"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src="{% static 'imgs/luiz-henrique.png' %}">
            <img src="{% static 'imgs/mariana.png' %}">
            <img src="{% static 'imgs/mateus-alves.png' %}">
            <img src="{% static 'imgs/mateus-belo.png' %}">
            <img src="{% static 'imgs/mayara.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">Luiz Henrique</p>
            <p class="nomess">Mariana</p>
            <p class="nomess">Mateus Alves</p>
            <p class="nomess">Mateus Belo</p>
            <p class="nomess">Mayara</p>
        </div>
        <a href="#pg5"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mbr fade" id="pg5">
        <a href="#pg4"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src="{% static 'imgs/mayra.png' %}">
            <img src="{% static 'imgs/natan.png' %}">
            <img src="{% static 'imgs/neto.png' %}">
            <img src="{% static 'imgs/raquel.png' %}">
            <img src="{% static 'imgs/raul.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">Mayra</p>
            <p class="nomess">Natan</p>
            <p class="nomess">Neto</p>
            <p class="nomess">Raquel</p>
            <p class="nomess">Raul</p>
        </div>
        <a href="#pg6"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mbr fade" id="pg6">
        <a href="#pg5"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src="{% static 'imgs/rayssa.png' %}">
            <img src="{% static 'imgs/ruan.png' %}">
            <img src="{% static 'imgs/saullo.png' %}">
            <img src="{% static 'imgs/thomaz.png' %}">
            <img src="{% static 'imgs/weliton.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">Rayssa</p>
            <p class="nomess">Ruan</p>
            <p class="nomess">Saullo</p>
            <p class="nomess">Thomaz</p>
            <p class="nomess">Welinton</p>
        </div>
        <a href="#pg7"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="mbr fade" id="pg7">
        <a href="#pg6"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        <div class="m5a5">
            <img src="{% static 'imgs/wesley.png' %}">
            <img src="{% static 'imgs/ze.png' %}">
        </div>
        <div class="nomes">
            <p class="nomess">Wesley</p>
            <p class="nomess">Zé</p>
        </div>
        <a href="#pg1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <div class="atual">
            <a href="#pg1"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg2"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg3"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg4"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg5"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg6"><i class="fa fa-circle-o" aria-hidden="true"></i></a>
            <a href="#pg7"><i class="fa fa-circle" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<!-- Parceiros -->
<div id="parceiros">
    <div class="parceiros-titulo"> PARCEIROS </div>
    <div class= "parceiros-container">
        <div class= "quadrado-parceiros">
            <a href="https://www.facebook.com/nucleo.ctg/" target="_blank"><img class= "logo-parceiros" src="{% static 'imgs/Núcleo.png' %}"></a>
        </div>
        <div class= "quadrado-parceiros">
            <a href="http://www.j2mais.com.br/" target="_blank"><img class= "logo-parceiros" src="{% static 'imgs/J2+.png' %}"></a>
        </div>
        <div class= "quadrado-parceiros">
            <a href="http://www.alternaenergia.com.br/" target="_blank"><img class= "logo-parceiros" src="{% static 'imgs/ALTERNA.png' %}"></a>
        </div>
    </div>
</div>

<!--Depoimentos-->
<div id="depoimentos"> DEPOIMENTOS </div>
<div class="carrosselDepoimentos">
    
	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/FabricioBradaschia.jpg' %}">
			<div class="depoimentosTexto">	
				<p>
					" A Watt tem exercido um papel fundamental na UFPE como a ponte entre a
				formação acadêmica convencional dos cursos de Engenharia Elétrica e Controle e
				Automação e o mercado de engenharia, trazendo a experiência das empresas para os
				alunos dos cursos e permitindo que eles tenham uma formação mais completa e mais
				próxima do perfil desejado de um engenheiro. É gratificante para mim, como tutor,
				poder ajudar e colaborar com o crescimento da empresa. Não há dúvida que, com
				este empenho, o futuro da empresa será de sucesso. "
				</p>
				<q><b>PROFESSOR TUTOR FABRÍCIO BRADASCHIA</b></q>
			</div>
		</div>
	</div>

	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/PedroRosas.jpg' %}">
			<div class="depoimentosTexto">
				<p>
					" Tenho muito orgulho de ter feito parte do início e ainda fazer parte como tutor
				de uma turma jovem, extremamente talentosa, esforçada e comprometida com os
				objetivos. A Watt Consultoria hoje é uma parte do DEE que orgulha aos professores e
				já inicia a cativar alunos para o curso. "
				</p>
				<q><b>PROFESSOR TUTOR PEDRO ROSAS</b></q>
			</div>
		</div>
	</div>

	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/JessycadeSantana.jpg' %}">
			<div class="depoimentosTexto">
				<p>
					" A Watt Consultoria trata seus parceiros e seus clientes da mesma forma,
				sempre visando o melhor para todos. É gratificante trabalhar com parceiros que tem
				esse pensamento. Durante todos os trabalhos que realizamos juntos, é notável o
				comprometimento, dinamismo e profissionalismo. "
				</p>
				<q><b>PARCEIRA JÉSSYCA DE SANTANA, SÓCIA DIRETORA DA ALTERNA ENERGIA SOLAR</b></q>	
			</div>
		</div>
	</div>

	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/EduardoStangler.jpg' %}">
			<div class="depoimentosTexto">
				<p>
					" Sou Eduardo e participei, como instrutor, do curso de MATLAB em parceria
				com a Watt Consultoria. Esta parceria desenvolveu-se rapidamente, de maneira que
				em pouco mais de um mês após o primeiro contato, já estávamos executando o curso.
				Durante todo o processo, os membros da empresa me trataram de maneira agradável,
				sendo sempre bastante solícitos e prestativos.
				</p>	
				<p>
					Gostaria de agradecer a empresa pela oportunidade, confiança e cumplicidade.
				Esta experiência trouxe fatores bastantes positivos para o meu crescimento pessoal e
				profissional; a forma como todo o processo foi conduzido trouxe além de uma
				satisfação pessoal, a vontade de manter esta parceria para o futuro. "
				</p>	
				<q><b>PARCEIRO EDUARDO VASCONCELOS STANGLER, ENGENHEIRO ELETRICISTA</b></q>	
			</div>
		</div>
	</div>

	<a class="prevDepoimentos" onclick="plusSlidesDepoimentos(-1)">&#10094;</a>
	<a class="nextDepoimentos" onclick="plusSlidesDepoimentos(1)">&#10095;</a>

	<div class="dotsDepoimentos">
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(1)"></span> 
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(2)"></span> 
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(3)"></span> 
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(4)"></span>
	</div>
	
</div>

<!-- Mesa do footer -->
<footer>
    <!-- Caixa de conteúdo do footer -->
    <div class = "footer-container">
        <!-- Logo e barra -->
        <div class = "beside">
            <a href="Footer.html"> <img class = "logo" src="{% static 'imgs/Logo.png' %}"></a>
            <div id = "barra"></div>
        </div>
        <!-- Contatos e Redes sociais -->
        <div>
            <div class = "beside">
                <img class = "icon" src="{% static 'icons/phone.png' %}">
                <div class="texto">(81) 9 9891-5995</div>
            </div>

            <div class = "beside" >
                <img class = "icon" src="{% static 'icons/mail.png' %}">
                <div class = "texto">comercial@wattconsultoria.com.br</div>
            </div>
            <!-- Ícones de redes sociais -->
            <div class = "beside">
                <a href="https://www.facebook.com/wattconsultoria/" target="_blank"><img class = "icon" src="{% static 'icons/facebook.png' %}"></a>
                <a href="https://www.instagram.com/wattconsultoria/" target="_blank"><img id = "instagram" src="{% static 'icons/instagram.png' %}"></a>
                <a href="https://www.linkedin.com/company-beta/16234949/" target="_blank"><img class = "icon" src="{% static 'icons/linkedin.png' %}"></a>
            </div>
        </div><!--Fechou Contatos e Redes Sociais -->

    </div><!-- Fechou Caixa de conteúdo do footer -->

</footer><!-- Fechou Mesa do footer -->

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>