{% load staticfiles %}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Watt</title>
    <link rel="SHORTCUT ICON" href="{% static 'icons/favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>

<div id="navbar">
    <i class="fa fa-bars transparente" aria-hidden="true"></i>
    <a id="logo" href="#carrosselInicial"><img src="{% static 'imgs/Logo.png' %}" width="100vh" id="watt"></a>
    <i class="fa fa-bars" aria-hidden="true" id="sanduba"></i>
    <div id="menu" class="resp">
        <a class="itemMenu" href="#carrosselInicial" id="ini">Início</a>
        <a class="itemMenu" href="#empresa" id="emp">Empresa</a>
        <a class="itemMenu" href="#service-container-container" id="serv">Serviços</a>
        <a class="itemMenu" href="#parceiros" id="par">Parceiros</a>
        <a class="itemMenu" href="#contato" id="cont">Contato</a>
        <a class="itemMenu" href="#">Blog</a>
    </div>
</div>

<div class="carrosselInicial" id="carrosselInicial">

      <div class="slides fade">
        <img class="carrosselImg" src="{% static 'imgs/contateNos.jpg' %}">
        <div class="sombreamento"></div>
        <div class="carrosselTexto">WATT Consultoria</div>
        <a href="#contato"> <button class="carrosselBtn">Faça uma consultoria</button></a>
      </div>

      <div class="slides fade">
        <img class="carrosselImg" src="{% static 'imgs/institucional.jpg' %}">
        <div class="sombreamento"></div>
        <div class="carrosselTexto">WATT Consultoria</div>
        <a href="#empresa"> <button class="carrosselBtn">Conheça a empresa</button></a>
      </div>

      <div class="slides fade">
        <img class="carrosselImg2" src="{% static 'imgs/watt1.jpeg' %}">
        <div class="sombreamento"></div>
        <div class="carrosselTexto">WATT Consultoria</div>
        <a href="#service-container-container"> <button class="carrosselBtn">Conheça nossos serviços</button></a>
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>

      <div class="dots">
          <span class="dot" onclick="currentSlide(1)"></span> 
          <span class="dot" onclick="currentSlide(2)"></span> 
          <span class="dot" onclick="currentSlide(3)"></span> 
        </div>

</div>

<div id="empresa">
    <h1>EMPRESA</h1>
    <div id="inst">
        <div id="emptxt">
        <p>A Watt Consultoria é uma empresa júnior formada por alunos
            dos cursos de Engenharia Elétrica e Engenharia de Controle e
            Automação da UFPE. Foi fundada em 2015 com o intuito de
            incentivar a capacidade empreendedora dos membros, dando
            a eles uma postura profissional ainda dentro da Universidade,
            fazendo com que a Watt Consultoria represente um ambiente
            real de empresa, em contínua melhoria, que proporcione o
            preparo necessário para o mercado de trabalho.</p>
        <p>A empresa júnior possibilita aos seus membros desenvolvimento
            pessoal, profissional e acadêmico, na medida em que permite a
            aplicação de conhecimentos teóricos relativos à formação
            profissional dos seus integrantes, os preparando para o mercado,
            promovendo trabalho em equipe, desenvolvimento econômico e
            social da comunidade através de suas atividades.</p>
    </div>

        <img src="{% static 'imgs/AA_FOTO_OFICIAL.JPG' %}" width="400vw" height="300vw">
    </div>

    <div id="mvvp">
        <div class="mvv">
        <i class="fa fa-flag" aria-hidden="true"></i>
        <h2>MISSÃO</h2>
        <p>Levar aos clientes soluções em
            engenharias elétrica e controle e
            automação com qualidade e contribuir para
            formação de profissionais diferenciados
            capazes de trazer valor à sociedade.</p>
    </div>
        <div class="mvv">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h2>VISÃO</h2>
            <p>Alcançar o Cluster 2, desenvolvendo e
                capacitando membros para mais e
                melhores projetos.</p>
        </div>
        <div class="mvv">
            <i class="fa fa-trophy" aria-hidden="true"></i>
            <h2>VALORES</h2>
            <p>Orgulho, Ética, Comprometimento,
                Atitude de dono, Aprender e ensinar,
                Transparência, Postura empreendedora.</p>
        </div>
    </div>

</div>
<!--Serviços-->
    <div id = "service-container-container">
        <h2>SERVIÇOS</h2>
		<div id = "service-container">
		    <div class = "service-box gray">
		        <div class = service-box-top>
		            <img src = "../static/imgs/Serviço1.png" class = "service-img">
                    <h3>Adequação Tarifária</h3>
    		        <p>O serviço consiste na readequação do quadro tarifário de energia 
    		        elétrica do consumidor visando reduzir o consumo de energia elétrica 
    		        e consequentemente diminuir as despesas mensais.</p>
                </div>
                <button class = "service-button" id="adequacao">Solicitar Serviços</botton>
		    </div>

		    <div class = "service-box">
		        <div class = service-box-top>
		            <img src = "../static/imgs/Serviço2.png" class = "service-img">
                    <h3>CÁLCULO LUMINOTÉCNICO</h3>
                    <p>Com este serviço, nosso cliente terá o mais adequado projeto 
                    de iluminação artificial em ambientes internos e externos, 
                    visando melhor uso da iluminação ambiente, maior conforto [...]</p>
                </div>
		        <button class = "service-button" id="calculo">Solicitar Serviços</botton>
		    </div>

		    <div class = "service-box gray">
		        <div class = service-box-top>
		            <img src = "../static/imgs/Serviço3.png" class = "service-img">
		            <h3>CORREÇÃO DO FATOR DE POTÊNCIA</h3>
                    <p> Este serviço resume-se a projetar banco de capacitores 
                    para otimizar o sistema elétrico, evitar o surgimento de 
                    harmônicos na rede [...]</p>
                </div>
		        <button class = "service-button" id="correcao">Solicitar Serviços</botton>
		    </div>

		    <div class = "service-box gray">
		        <div class = service-box-top>
		            <img src = "../static/imgs/Serviço4.png" class = "service-img">
		            <h3>EFICIÊNCIA ENERGÉTICA</h3>
                   <p>A Watt Consultoria fornece ao cliente uma otimização 
                   no uso dos equipamentos e no consumo de energia elétrica 
                   garantindo qualidade e eficiência. [...]</p>
                </div>
		        <button class = "service-button" id="eficiencia">Solicitar Serviços</botton>
		    </div>

		    <div class = "service-box">
		        <div class = service-box-top>
		            <img src = "../static/imgs/Serviço5.png" class = "service-img">
		            <h3>PROJETO DE INSTALAÇÕES ELÉTRICAS</h3>
		            <p>Visando segurança, qualidade e adequação às normas brasileiras 
		            de segurança, nosso serviço de instalações elétricas propõe 
		            verificação e atualização do projeto elétrico, correção de falhas [...]</p>
                </div>
		        <button class = "service-button" id="projeto">Solicitar Serviços</botton>
		    </div>

		    <div class = "service-box gray">
		        <div class = service-box-top>
		            <img src = "../static/imgs/Serviço6.png" class = "service-img">
		            <h3>VISTORIA ELÉTRICA</h3>
                    <p>Realiza-se elaboração de um laudo técnico apresentando a avaliação e
                    determinando a atual situação a qual se encontram as instalações elétricas 
                    do cliente. [...].</p>
                </div>
		        <button class = "service-button" id="vistoria">Solicitar Serviços</button>    
		    </div>
		</div>
	</div>
<!-- Membros -->
<div class="membros">
    <h1>MEMBROS</h1>
<div class="carrosselMembros">
    <a class="prevMembros" onclick="plusSlidesMembros(-1)">&#10094;</a>
	<div class="slidesMembros fade">
        <div class="m5a5">
            <div class="ImgNome">
                <img src="{% static 'imgs/alef.png' %}">
                <div class=nomess>
                    <b>Gerente de projetos</b>
                </div>
                <p><b>Alef Fernando</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/amanda.png' %}">
                <div class=nomess>
                    <b>Consultora de gestão de pessoas</b>
                </div>
                <p><b>Amanda Carvalho</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/caio.png' %}">
                <div class=nomess>
                    <b>Gerente comercial</b>
                </div>
                <p><b>Caio Santos</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/emanuel.png' %}">
                <div class=nomess>
                    <b>Consultor de marketing</b>
                </div>
                <p><b>Emmanuel Dantas</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/erwin.png' %}">
                <div class=nomess>
                    <b>Consultor do administrativo financeiro</b>
                </div>
                <p><b>Erwin Fernandes</b></p>
            </div>
        </div>
	</div>

	<div class="slidesMembros fade">
        <div class="m5a5">
            <div class="ImgNome">
                <img src="{% static 'imgs/fernando.png' %}">
                <div class=nomess>
                    <b>Presidente Institucional</b>
                </div>
                <p><b>Fernando de Siqueira</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/gabriel.png' %}">
                <div class=nomess>
                    <b>Gerente de projetos</b>
                </div>
                <p><b>Gabriel Veloso</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/gustavo.png' %}">
                <div class=nomess>
                    <b>Assessor de qualidade</b>
                </div>
                <p><b>Gustavo Medeiros</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/jefferson.png' %}">
                <div class=nomess>
                    <b>Gerente comercial</b>
                </div>
                <p><b>Jefferson Apolinário</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/joão.png' %}">
                <div class=nomess>
                    <b>Consultor do administrativo financeiro</b>
                </div>
                <p><b>João Gabriel</b></p>
            </div>
        </div>
	</div>

	<div class="slidesMembros fade">
        <div class="m5a5">
            <div class="ImgNome">
                <img src="{% static 'imgs/john.png' %}">
                <div class=nomess>
                    <b>Consultor de gestão de pessoas</b>
                </div>
                <p><b>Jhonnathar Lima</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/jose.png' %}">
                <div class=nomess>
                    <b>Consultor de gestão de pessoas</b>
                </div>
                <p><b>José Carlos</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/levy.png' %}">
                <div class=nomess>
                    <b>Assessor de qualidade</b>
                </div>
                <p><b>Levy Morais</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/lucas.png' %}">
                <div class=nomess>
                    <b>Consultor de marketing</b>
                </div>
                <p><b>Lucas Melo</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/luiz-henrique.png' %}">
                <div class=nomess>
                    <b>Diretor de gestão de pessoas</b>
                </div>
                <p><b>Luiz Henrique</b></p>
            </div>
        </div>
	</div>

	<div class="slidesMembros fade">
        <div class="m5a5">
            <div class="ImgNome">
                <img src="{% static 'imgs/mariana.png' %}">
                <div class=nomess>
                    <b>Consultora de marketing</b>
                </div>
                <p><b>Mariana Nunes</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/mateus-alves.png' %}">
                <div class=nomess>
                    <b>Gerente comercial</b>
                </div>
                <p><b>Mateus Alves</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/mateus-belo.png' %}">
                <div class=nomess>
                    <b>Presidente Executivo</b>
                </div>
                <p><b>Mateus Belo</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/mayara.png' %}">
                <div class=nomess>
                    <b>Diretora de marketing</b>
                </div>
                <p><b>Mayara Siqueira</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/mayra.png' %}">
                <div class=nomess>
                    <b>Assessora de qualidade</b>
                </div>
                <p><b>Mayra Lemos</b></p>
            </div>
        </div>
	</div>
	
	<div class="slidesMembros fade">
        <div class="m5a5">
            <div class="ImgNome">
                <img src="{% static 'imgs/natan.png' %}">
                <div class=nomess>
                    <b>Gerente de projetos</b>
                </div>
                <p><b>Natanael Ribeiro</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/neto.png' %}">
                <div class=nomess>
                    <b>Consultor do administrativo financeiro</b>
                </div>
                <p><b>Alexandre Nunes</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/raquel.png' %}">
                <div class=nomess>
                    <b>Diretora de projetos</b>
                </div>
                <p><b>Raquel Almeida</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/raul.png' %}">
                <div class=nomess>
                    <b>Assessor de qualidade</b>
                </div>
                <p><b>Raul Oliveira</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/rayssa.png' %}">
                <div class=nomess>
                    <b>Consultora de gestão de pessoas</b>
                </div>
                <p><b>Rayssa Aquino</b></p>
            </div>
        </div>
	</div>
	
	<div class="slidesMembros fade">
        <div class="m5a5">
            <div class="ImgNome">
                <img src="{% static 'imgs/ruan.png' %}">
                <div class=nomess>
                    <b>Diretor do administrativo financeiro</b>
                </div>
                <p><b>Ruan Ferreira</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/thomaz.png' %}">
                <div class=nomess>
                    <b>Consultor de marketing</b>
                </div>
                <p><b>Thomaz Melo</b></p>
            </div>
            <div class="ImgNome">
                <img src="{% static 'imgs/wesley.png' %}">
                <div class=nomess>
                    <b>Consultor de gestão de pessoas</b>
                </div>
                <p><b>Wesley Santana</b></p>
            </div>
        </div>
	</div>

	<a class="nextMembros" onclick="plusSlidesMembros(1)">&#10095;</a>

	<div class="dotsMembros">
	  <span class="dotMembros" onclick="currentSlideMembros(1)"></span> 
	  <span class="dotMembros" onclick="currentSlideMembros(2)"></span> 
	  <span class="dotMembros" onclick="currentSlideMembros(3)"></span> 
	  <span class="dotMembros" onclick="currentSlideMembros(4)"></span>
	  <span class="dotMembros" onclick="currentSlideMembros(5)"></span>
	  <span class="dotMembros" onclick="currentSlideMembros(6)"></span>
	</div>
	
</div>
</div>


<!-- Parceiros -->
<div id="parceiros">
    <div class="parceiros-titulo"> PARCEIROS </div>
    <div class= "parceiros-container">
        <div class= "quadrado-parceiros">
            <a href="https://www.facebook.com/nucleo.ctg/" target="_blank"><img class= "logo-parceiros" src="{% static 'imgs/Núcleo.png' %}"></a>
        </div>
        <div class= "quadrado-parceiros">
            <a href="http://www.j2mais.com.br/" target="_blank"><img class= "logo-parceiros" src="{% static 'imgs/J2+.png' %}"></a>
        </div>
        <div class= "quadrado-parceiros">
            <a href="http://www.alternaenergia.com.br/" target="_blank"><img class= "logo-parceiros" src="{% static 'imgs/ALTERNA.png' %}"></a>
        </div>
    </div>
</div>


<!--Depoimentos-->
<div id="depoimentos"> DEPOIMENTOS </div>
<div class="carrosselDepoimentos">
    
	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/FabricioBradaschia.jpg' %}">
			<div class="depoimentosTexto">	
				<p>
					" A Watt tem exercido um papel fundamental na UFPE como a ponte entre a
				formação acadêmica convencional dos cursos de Engenharia Elétrica e Controle e
				Automação e o mercado de engenharia, trazendo a experiência das empresas para os
				alunos dos cursos e permitindo que eles tenham uma formação mais completa e mais
				próxima do perfil desejado de um engenheiro. É gratificante para mim, como tutor,
				poder ajudar e colaborar com o crescimento da empresa. Não há dúvida que, com
				este empenho, o futuro da empresa será de sucesso. "
				</p>
				<q><b>PROFESSOR TUTOR FABRÍCIO BRADASCHIA</b></q>
			</div>
		</div>
	</div>

	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/PedroRosas.jpg' %}">
			<div class="depoimentosTexto">
				<p>
					" Tenho muito orgulho de ter feito parte do início e ainda fazer parte como tutor
				de uma turma jovem, extremamente talentosa, esforçada e comprometida com os
				objetivos. A Watt Consultoria hoje é uma parte do DEE que orgulha aos professores e
				já inicia a cativar alunos para o curso. "
				</p>
				<q><b>PROFESSOR TUTOR PEDRO ROSAS</b></q>
			</div>
		</div>
	</div>

	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/JessycadeSantana.jpg' %}">
			<div class="depoimentosTexto">
				<p>
					" A Watt Consultoria trata seus parceiros e seus clientes da mesma forma,
				sempre visando o melhor para todos. É gratificante trabalhar com parceiros que tem
				esse pensamento. Durante todos os trabalhos que realizamos juntos, é notável o
				comprometimento, dinamismo e profissionalismo. "
				</p>
				<q><b>PARCEIRA JÉSSYCA DE SANTANA, SÓCIA DIRETORA DA ALTERNA ENERGIA SOLAR</b></q>	
			</div>
		</div>
	</div>

	<div class="slidesDepoimentos fade">
		<div class="depoimentosContainer">
			<img class="depoimentosFotos" src="{% static 'imgs/EduardoStangler.jpg' %}">
			<div class="depoimentosTexto">
				<p>
					" Sou Eduardo e participei, como instrutor, do curso de MATLAB em parceria
				com a Watt Consultoria. Esta parceria desenvolveu-se rapidamente, de maneira que
				em pouco mais de um mês após o primeiro contato, já estávamos executando o curso.
				Durante todo o processo, os membros da empresa me trataram de maneira agradável,
				sendo sempre bastante solícitos e prestativos.
				</p>	
				<p>
					Gostaria de agradecer a empresa pela oportunidade, confiança e cumplicidade.
				Esta experiência trouxe fatores bastantes positivos para o meu crescimento pessoal e
				profissional; a forma como todo o processo foi conduzido trouxe além de uma
				satisfação pessoal, a vontade de manter esta parceria para o futuro. "
				</p>	
				<q><b>PARCEIRO EDUARDO VASCONCELOS STANGLER, ENGENHEIRO ELETRICISTA</b></q>	
			</div>
		</div>
	</div>

	<a class="prevDepoimentos" onclick="plusSlidesDepoimentos(-1)">&#10094;</a>
	<a class="nextDepoimentos" onclick="plusSlidesDepoimentos(1)">&#10095;</a>

	<div class="dotsDepoimentos">
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(1)"></span> 
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(2)"></span> 
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(3)"></span> 
	  <span class="dotDepoimentos" onclick="currentSlideDepoimentos(4)"></span>
	</div>
	
</div>


<!--                 FORM DE CONTATO                 -->
<div id="contato">
    <div class="contato-titulo"> CONTATO </div>
    <div class="formEmap">
        <div class="contatoForm">
            <form method = "POST" id="formForm">
        		{% csrf_token %}
        		<div class="contatoRow">
            		<input class="formInputs" type="text" name="nome" placeholder=" Nome " required=required id="nome"><br>
            		<input class="formInputs" type="text" name="telefone" placeholder=" Telefone " required=required id="telefone"><br>
        		</div>
        		<div class="contatoRow">
            		<input class="formInputs" type="email" name="email" placeholder=" Email " required=required id="email"><br>
            		<input class="formInputs" type="text" name="assunto" placeholder=" Assunto " required=required id="assunto"><br>
        		</div>
        		<div class="contatoRow2">
            		<textarea class="formInputs formInputs2" name="mensagem" placeholder=" Mensagem " required=required id="mensagem"></textarea>
        		</div>
        		<div class="contatoRow3">
            		<button class="button-send" type="submit" id="submit" name="geral">Enviar</button>
        		</div>
        	</form>
        </div>
        <div class="contatoMapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.4666744836854!2d-34.95680204961078!3d-8.053786682657448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab1be1662deabf%3A0x8d83bd2aa90799db!2sWatt+Consultoria!5e0!3m2!1spt-BR!2sbr!4v1513195421171" width="450vw" height="390vh" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="idmodal not" id="contatoModal">
<div class="modal">
    <i class="fa fa-times not" aria-hidden="true" id="closeModal"></i>
    <div class="textmod">
        <h3 id="title"></h3>
        <p id="paragrafo1"></p>
        <h4 id="pl1"></h4>
        <p id="paragrafo2"></p>
        <h4 id="pl2"></h4>
        <p id="paragrafo3"></p>
    </div>
    <div class="formmod">
        <h3>Fale com um consultor</h3>
        <p>Complete o formulário abaixo que um
            consultor especializado entrará em contato
            para te passar todas as informações
            necessárias sobre esse serviço.</p>
        <form method = "POST" id="formFormEsp">
            {% csrf_token %}
            <input type="text" name="nomeModal" placeholder="Nome" required=required id="nomeModal">
            <input type="email" name="emailModal" placeholder="Email" required=required id="emailModal">
            <input type="text" name="telModal" placeholder="Telefone" required=required id="telModal">
            <input type="text" name="assuntoModal" id="assuntoModal">
            <button type="submit" id="botaoModal" name="especifico">ENVIAR</button>
        </form>
        <div>
            <p>(81) 9 9891-5995</p>
            <p>comercial@wattconsultoria.com.br</p>
        </div>
    </div>
</div>
</div>
<!-- Mesa do footer -->
<footer>
    <!-- Caixa de conteúdo do footer -->
    <div class = "footer-container">
        <!-- Logo e barra -->
        <div class = "beside">
            <a href="#carrosselInicial"> <img class = "logo" src="{% static 'imgs/Logo.png' %}"></a>
            <div id = "barra"></div>
        </div>
        <!-- Contatos e Redes sociais -->
        <div>
            <div class = "beside">
                <img class = "icon" src="{% static 'icons/phone.png' %}">
                <div class="texto">(81) 9 9891-5995</div>
            </div>

            <div class = "beside" >
                <img class = "icon" src="{% static 'icons/mail.png' %}">
                <div class = "texto">comercial@wattconsultoria.com.br</div>
            </div>
            <!-- Ícones de redes sociais -->
            <div class = "beside">
                <a href="https://www.facebook.com/wattconsultoria/" target="_blank"><img class = "icon" src="{% static 'icons/facebook.png' %}"></a>
                <a href="https://www.instagram.com/wattconsultoria/" target="_blank"><img id = "instagram" src="{% static 'icons/instagram.png' %}"></a>
                <a href="https://www.linkedin.com/company-beta/16234949/" target="_blank"><img class = "icon" src="{% static 'icons/linkedin.png' %}"></a>
            </div>
        </div><!--Fechou Contatos e Redes Sociais -->

    </div><!-- Fechou Caixa de conteúdo do footer -->
    
    <div class="bar">
        <span>© 2018 WATT Consultoria - Todos os direitos reservados</span>
        <span>Made with <i class="fa fa-code"></i> and <i class="fa fa-heart-o"></i></span>
    </div>

</footer><!-- Fechou Mesa do footer -->

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>
</html>