* {
  box-sizing:border-box
}

body{
    background-color: #FAFAFA;
    color: #373435;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
  outline: 0;
}

/*////////////////////////  MODAL  /////////////////////////*/
.idmodal{
    position: fixed;
    top:0;
    z-index: 20;
    width:100%;
    height:100vh;
    background-color:rgba(0,0,0,0.8);
}
#closeModal{
    position: fixed;
    z-index: 21;
    top:5px;
    right:10px;
    font-size:5vh;
    color:#FAFAFA;
    cursor:pointer;
}

.modal{
    position: fixed;
    box-shadow: 0 0.3vh 1vh #373435;
    display: flex;
    width: 90vw;
    border-radius: 3vh;
    margin: 5vw;
    top:0;
    z-index: 20;
}
.textmod{
    background-color: #373435;
    color:#FAFAFA;
    width: 50%;
    padding: 5%;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
}
.formmod{
    display: flex;
    color:#373435;
    width: 50%;
    padding: 5%;
    flex-wrap: wrap;
    text-align: center;
    background-color: #FAFAFA;
    border-bottom-right-radius: 3vh;
    border-top-right-radius: 3vh;
}
.formmod >form{
    width: 100%;
}
.formmod > h3{
    text-align: center;
    width: 100%;
}
.formmod >form>input{
    display: flex;
    width: 98%;
    margin-bottom: 2vh;
    height: 5vh;
    border-radius: 1vh;
    border:1px solid #C0C0C0;
    box-shadow: 0 0.05vh 1vh #C0C0C0;
    padding: 2%;
}
.formmod >form> button{
    cursor:pointer;
    display: flex;
    border: none;
    background-color: #2D53A2;
    color: #FAFAFA;
    box-shadow: 0 0.05vh 1vh #373435;
    height: 4vh;
    padding: 1vh;
    border-radius: 1vh;
    align-self: flex-end;
}
.formmod > div{
    align-self: flex-end;
    justify-self: flex-end;
    text-align: left;
}
#assuntoModal {
    display: none;
}
.not{
    display: none;
}
@media (max-width: 100vh) {
    .modal{
        flex-direction: column;
    }
    .textmod{
        background-color: #373435;
        color:#FAFAFA;
        width: 100%;
        padding: 5%;
        font-size: 1.5vh;
        border-top-right-radius: 3vh;
        border-top-left-radius: 3vh;
        border-bottom-left-radius:0;
    }
    #closeModal{
        font-size:7vh;
        color:#FAFAFA;
    }
    .formmod{
        display: flex;
        color:#373435;
        width: 100%;
        padding: 5%;
        flex-wrap: wrap;
        text-align: center;
        font-size: 1.5vh;
        border-bottom-right-radius: 3vh;
        border-top-right-radius: 0;
        border-bottom-left-radius: 3vh;
    }
    .formmod >form>input{
        height: 1vh;
        font-size:1.5vh;
    }
    .formmod >form> button{
        font-size: 1.5vh;
        height: 4vh;
    }
}
/*////////////////////////  NAVBAR  ////////////////////////*/
#navbar{
    background-color: #FAFAFA;
    display: flex;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    align-items:center;
    box-shadow: 0 0.3vh 1vh #373435;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
    color: #373435;
}

#navbar:first-child{
    margin:0;
    padding-left: 2vw;
}

#watt{
    width:15vh;
}

#menu{
    margin-right: 2vw;
}
#menu > a{
    text-decoration: none;
    color: #373435;
    font-size: 2.5vh;
}
.itemMenu{
    padding-top: 5%;
    padding-bottom: 4.8%;
    padding-left: .7vw;
    padding-right: .7vw;
}
.select{
    background-color: #2D53A2;
    color: #FAFAFA !important;
    transition: all .5s ease-in-out;
}
#navbar>i{
    font-size: 7vh;
    display: none;
}
.transparente{
    color: rgba(0,0,0,0);
}
@media (max-width: 100vh){
    .itemMenu{
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 0;
    }
    #menu{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #menu > a{
        width: 95%;
        margin-top: 3%;
    }
    .resp{
        display: none !important;
    }
    #navbar>i{
        font-size: 4vh;
        display: block;
        justify-self: flex-start;
    }
    #navbar>img{
        display: flex;
    }
    #navbar{
        background-color: #FAFAFA;
        flex-wrap: wrap;
    }
}

/*////////////////////////  1º CARROSSEL  ////////////////////////*/
.carrosselInicial {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slides {
    display: none;
}

.carrosselImg {
  width: 100%;
  height: 100vh;
  z-index: -1;
  object-fit:cover;
  object-position:center top;
}

.carrosselImg2 {
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.sombreamento {
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    width:100%;
    height:100vh;
}

.carrosselTexto {
  font-size: 7vw;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  color:#fafafa;
}

.carrosselBtn {
  cursor: pointer;
  color: #fafafa;
  font-size: 2vw;
  position: absolute;
  bottom: 35%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
  background-color: #2D53A2;
  border: 0.2vw solid #2D53A2;
  border-radius: 2vh 2vh;
  padding: 1vh 0 1vh 0;
  z-index:3;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 1vw;
  color: #FAFAFA;
  font-size: 4.5vw;
  transition: 0.6s ease;
  border-radius: 0 1vw 1vw 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 1vw 0 0 1vw;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}

.dots {
  text-align: center;
  margin-top: -6vh;
  z-index: 1;
}

.dot {
  cursor:pointer;
  height: 1.2vw;
  width: 1.2vw;
  margin: 0 0.5%;
  background-color: #fafafa;
  border-radius: 50%;
  display: inline-block;
}

.dot:hover {
  background-color: #bbb;
}

.active {
  background-color: #2D53A2;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width: 100vh) {
  .carrosselInicial {
    height: 50vh;
  }
  .carrosselImg {
    height: 50vh;
  }
  .carrosselImg2 {
    height: 50vh;
  }
  .carrosselTexto {
    font-size: 6vh;
  }
  .carrosselBtn {
    font-size: 2vh;
    width:40%;
    margin-left:30%;
    margin-right:30%;
  }
  .prev, .next {
    font-size: 9vw;
    top:50%;
  }
  .dot {
    height: 1.6vw;
    width: 1.6vw;
  }
  .sombreamento {
      height:50vh;
  }
}
/*////////////////////////  MEMBROS  ////////////////////////*/

.membros{
    width: 100%;
    background-color: #FAFAFA;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}
.membros > h1{
    font-size: 7vh;
    margin-top:5vh;
}
.carrosselMembros{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    flex-wrap: wrap;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.carrosselMembros > a{
    width:10%;
    font-size:5vw;
    cursor: pointer;
    color: #2D53A2;
}

.carrosselMembros > a : hover{
    background-color: red;
}

.slidesMembros{
    width:80%;
}
.m5a5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    z-index: 0;
    height: 14vw;
}
.ImgNome{
    position: relative;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.ImgNome > img{
    width: 12vw;
    border-radius: 100%;
    box-shadow: 0 0.3vh 1vh #373435;
}
.ImgNome > p{
    font-size:1.25vw;
}
.nomess{
    display: flex;
    position: absolute;
    background-color: rgba(250, 250, 250, 0);
    color:rgba(250, 250, 250, 0);
    top:0;
    width:12vw;
    height: 12vw;
    margin:0;
    justify-content:center;
    align-items:center;
    font-size: 1.25vw;
}
.nomess:hover{
    background-color: rgba(250, 250, 250, .7);
    transition: .5s;
    color:#373435;
    border-radius: 100%;
}

h1{
    font-weight: normal;
}
.prevMembros {
    padding: 1vw;
    color: #2D53A2;
    font-size: 3vw;
    transition: 0.6s ease;
    border-radius: 0 1vw 1vw 0;
}
.nextMembros{
    padding: 1vw;
    color: #2D53A2;
    font-size: 3vw;
    transition: 0.6s ease;
    border-radius: 1vw 0 0 1vw;
}
.prevMembros:hover, .nextMembros:hover {
    background-color: rgba(0,0,0,0.1);
}
.dotsMembros {
    text-align: center;
    margin-top: 3vw;
    z-index: 1;
    width: 100% !important;
}

.dotMembros {
    cursor:pointer;
    height: 1.2vw;
    width: 1.2vw;
    margin: 0 0.5%;
    background-color: #fafafa;
    border: 1px solid #373435;
    border-radius: 50%;
    display: inline-block;
}

.dotMembros:hover {
    background-color: #bbb;
}

.activeMembros {
    border: none;
    background-color: #2D53A2;
}

@media (max-width: 100vh){
    .membros > h1{
        font-size:5vw;
    }
    .ImgNome > p{
        font-size: 1.9vw;
    }
    .nomess{
        font-size: 1.9vw;
    }
}
/*////////////////////////  EMPRESA  ////////////////////////*/
#empresa{
    width: 100%;
    z-index: -3;
    text-align: center;
    display: flex;
    font-size: 1.35vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 5%;
    /*margin-top:5%;*/
}
h1{
    width: 100%;
    margin-bottom: 4%;
    margin-top: 10vh;
    justify-items: center;
    font-size: 7vh;
}
#emptxt{
    width: 50%;
    align-self: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
#inst > img{
    width:36vw;
    height:27vw;
    border-radius: 3%;
    box-shadow: 0 0.3vh 1vh #373435;
}
#mvvp{
    margin-top: 8vh;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
#inst{
    width: 100%;
    z-index: -3;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mvv{
    width: 29% !important;
    margin-top: 0;
    background: #FAFAFA;
    text-align: center !important;
    box-shadow: 0 0.3vh 1vh #373435;
    border-radius: 2vw;
    padding-top: 2vw;
    height: 100%;
}
.mvv > p{
    margin: 1vw;
    font-size: 1.25vw;
}
.mvv > i{
    font-size: 8vw;
    color: #2D53A2;
}
body{
    background-color: #FAFAFA;
    color: #373435;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
@media (max-width: 100vh){
    .mvv{
        width: 80% !important;
        margin-bottom: 5%;
    }
    .mvv > p{
        margin: 3vw;
        font-size: 3vw;
    }
    .mvv > i{
        font-size: 14vw;
    }
    #mvvp{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #emptxt{
        width: 80%;
        font-size: 1.5vw;
        align-self: center;
    }
    #empresa{
        font-size: 2.5vw;
        flex-direction: column;
    }
    #inst{
        flex-direction: column-reverse;
        align-items: center;
    }
    #inst > img{
        width:53.3vw;
        height:40vw;
        border-radius: 10%;
    }
    h1{
        font-size: 5vw;
    }
}

/*////////////////////////  Serviços  ////////////////////////*/
#service-container-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: #373435;
        align-items:center;
}

#service-container-container h2{
    text-align: center;
    color: white;
    font-size: 7vh;
    font-weight: normal;
    margin-top: 10vh;
}

#service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    font-family: ROBOTO;
    background-color: #373435;
    margin-bottom: 10vh;
}
.service-box{
    display: flex;
    align-items:center;
    justify-content:space-between;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 0.3vh 1vh #373435;
    border-radius: 2vw;
    flex-basis: 20%;
    background-color: white;
    margin: 3vw;
    font-size: 1.8vh;
    color: gray;
}

.service-box p{
    margin: 1vw;
    text-align: center;
}

.service-box-top{
    width: 100%;
    justify-content:flex-start;
    text-align: center;
}

.service-img{
    display: flex;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.service-button{
    text-align: center;
    width: 20vh;
    height: 5vh;
    color: white;
    border-radius: 1vh;
    background-color: #264f96;
    border:0;
    margin-bottom: 2vh;
    cursor: pointer;
    box-shadow: 0 0.3vh 1vh #373435;
    font-size:1.8vh;
}


@media screen and (device-aspect-ratio: 16/9), screen and (device-aspect-ratio: 16/10){
    .service-box{
        flex-basis:22%;
        margin:3vw;
    }
    
    #service-container{
        width: 90%;
    }
    
    #service-container-container h2{
        font-size: 7vh;
    }
}


@media (max-width: 180vh){
    .service-box{
        flex-basis:26%;
        margin: 2vh;
        
    }
    
    #service-container-container h2{
        font-size: 7vh;
    }
    
}

@media (max-width: 140vh){
    .service-box{
        flex-basis:24%;
        margin: 1vw;
        font-size: 1.5vh;
    }
    
    .button{
        font-size: 1.8vh;
    }
    
    #service-container-container h2{
        font-size: 7vh;
    }
}

@media (max-height: 600px) and (orientation: landscape){
    .service-box{
        flex-basis: 28%;
        font-size: 2.4vh;
        margin: 1vw;
    }
    
    .service-button{
        font-size: 1.8vh;
        width: 18vh
    }
    
    #service-container-container h2{
        font-size: 7vh;
    }
}

@media (max-width: 100vh){

    .service-box{
        flex-basis: 42%;
        margin-top: 2vh;

    }
    .service-box-top > h3{
        display:none;
    }
    .service-box-top > p{
        display:none;
    }
    
    .service-button{
        margin-top:2vh;
    }
    
    #service-container-container h2{
        font-size: 5vw;
    }
    
    #service-container {
        margin-bottom: 5vh;
    }
}


/*////////////////////////  PARCEIROS  ////////////////////////*/
#parceiros {
    display: flex;
    flex-direction: column;
    background-color: #373435;
}

.parceiros-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 6vh;
    font-size: 7vh;
    color: white;
}

.parceiros-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #373435;
    margin-top: 1vh;
    margin-bottom: 10vh;
    margin-right: 10%;
    margin-left: 10%;
}

.quadrado-parceiros {
    display: flex;
    background-color: white;
    width: 18vw;
    height: 18vw;
    border-radius: 1.5vw 1.5vw;
    justify-content: center;
    align-items: center;
}

.logo-parceiros {
    width: 88%;
    margin: 0 6%;
}

@media (max-width: 100vh) {
    .parceiros-titulo {
        font-size: 5vw;
        margin-top: 10vh;
        margin-bottom: 2vh;
    }
    .parceiros-container {
        margin-bottom: 5vh;
    }
}

/*////////////////////////  DEPOIMENTOS  ////////////////////////*/
.carrosselDepoimentos {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 3vh;
}

#depoimentos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-size: 7vh;
    color: #373435;
}

.slidesDepoimentos {
    display: none;
}

.depoimentosContainer {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.depoimentosFotos {
  width: 16%;
  height: 16%;
  border-radius: 50%;
  box-shadow: 0.16vw 0.16vw 0.16vw 0.16vw gray;
}

.depoimentosTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2vw;
  width: 60%;
  text-align: justify;
}

.prevDepoimentos, .nextDepoimentos {
  cursor: pointer;
  position: absolute;
  top: 20%;
  width: auto;
  padding: 1vw;
  color: #2D53A2;
  font-size: 3vw;
  transition: 0.6s ease;
  border-radius: 0 1vw 1vw 0;
}

.nextDepoimentos {
  right: 0;
  border-radius: 1vw 0 0 1vw;
}

.prevDepoimentos:hover, .nextDepoimentos:hover {
  background-color: rgba(0,0,0,0.1);
}

.dotsDepoimentos {
  text-align: center;
  margin-top: 3vw;
  z-index: 1;
}

.dotDepoimentos {
  cursor:pointer;
  height: 1.2vw;
  width: 1.2vw;
  margin: 0 0.5%;
  background-color: #fafafa;
  border: 1px solid #373435;
  border-radius: 50%;
  display: inline-block;
}

.dotDepoimentos:hover {
  background-color: #bbb;
}

.activeDepoimentos {
  border: none;
  background-color: #2D53A2;
}

@media (max-width: 100vh) {
  .prevDepoimentos, .nextDepoimentos {
    font-size: 5vw;
  }
  q {
    text-align: right;
    font-size: 2vw;
  }
  #depoimentos {
    font-size: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
  .depoimentosTexto {
    font-size: 2vw;   
  }
}

/*////////////////////////  FORM DE CONTATO  ////////////////////////*/
#contato {
    display: flex;
    flex-direction:column;
    align-items:center;
    color: #fafafa;
    background-color:#373435;
}
.contato-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 4vh;
    font-size: 7vh;
    color: white;
}
.formEmap {
    background-color: #373435;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    width:90%;
    margin-bottom: 4vh;
    margin-left:6vh;
    flex-wrap:nowrap;
    
}
.contatoForm {
    display:flex;
    flex-direction:column;
    width:50%;
}
.contatoMapa {
    display:flex;
    justify-content:center;
    width:50%;
}
iframe{
    border-radius: 6%;
}
.contatoRow {
    display:flex;
    justify-content:space-between;
}
.contatoRow2 {
    display:flex;
    justify-content:flex-start;
}
.contatoRow3 {
    display:flex;
    justify-content:flex-end;
}
form {
    height:100%;
}
.formInputs {
    box-shadow: 0 0.3vh 1vh #000000;
    width: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-right:3%;
    margin-left: 0;
    margin-right: 4%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: none;
    font-size: 2.8vh;
    border-radius: 15px;
    height: 6vh;
}
.formInputs2 {
    width:100%;
    resize:none;
    height:22vh;
}
.button-send{
    width: 20%;
    border-radius: 15px;
    border: none;
    height: 6vh;
    box-shadow: 0 0.3vh 1vh #000000;
    margin:4%;
    font-size: 3vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
    background-color: #2D53A2 !important;
    color: #FAFAFA;
    align-self: flex-end;
    cursor:pointer;
}
@media(max-width: 100vh){
    .contato-titulo {
        font-size:5vw;
        margin-top: 10vh;
        margin-bottom: 2vh;
        justify-content:center;
        margin-left:0;
        align-self:center;
    }
    .formEmap {
        flex-direction:column;
        margin-left:0;
        align-items:center;
        width:100%;
    }
    .contatoForm {
        width:80%;
    }
    .contatoMapa {
        width:100%;    
    }
    .formInputs2 {
        height:10vh;
    }
    .button-send{
        width: 25%;
    }
    iframe {
        width:90vw;
        border-radius:15px;
    }
}

@media(max-width:150vh) {
    .formEmap {
        flex-direction:column;
        margin-left:0;
        align-items:center;
        width:100%;
    }
}

/*////////////////////////  FOOTER  ////////////////////////*/
footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    background-color: #fafafa;
    width: 100%;
    margin-top: 2vh
}

.footer-container {
    display: flex;
    background-color: #fafafa;
    justify-content: space-between;
    width: 88%;
}

.icon{
    width: 3.5vh;
    height: 3.5vh;
    border-radius: 3px;
    margin: 1vh;
}


.texto{
    color: black;
    font-size: 2vh;
    font-family: Roboto;
}

.beside{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.logo {
    height: 8vh;
}
#instagram{
    width: 3.9vh;
    height: 3.9vh;
    border-radius: 20px;
    margin: 1vh;
}

#barra{
    background-color: #9E9E9E;
    width: 2px;
    height: 100%;
    margin-left: 60px;
}

@media (max-width: 100vh) {
    
    .footer-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 3vh
    }
    .logo{
        height: 12.3vw;
        margin-bottom: 5.8vw;
    }
    #barra{
        background-color: transparent;
        width: 0px;
        height: 0%;
        margin-left: 0px;
    }

    .texto{
        font-size: 3.4vw;
    }

    .icon{
        width: 4.1vh;
        height: 4.1vh;
    }
    .beside{
        justify-content: center;
    }
}
